[project]
name = "app"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = [
    "torch>=2.9.1",
    "torchaudio>=2.9.1",
    "torchvision>=0.24.1",
]
[tool.uv]
environments = ['sys_platform == "linux"']
